<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
</head>
<body>
    <div>
        <h1 style="text-align: center;">welcome</h1>
        <h1>History of Bike </h1>
        <img src="{% static 'images/Bike1.jpg' %}"><br>
        <p style="text-align: justify;">A motorcycle, often called a motorbike, bike, cycle, or
        (if three-wheeled) trike, is a two- or three-wheeled motor vehicle. 
        Motorcycle design varies greatly to suit a range of different purposes: long-distance
        travel, commuting, cruising, sport (including racing), and off-road riding. Motorcycling 
        is riding a motorcycle and being involved in other related social activity such as joining
        a motorcycle club and attending motorcycle rallies.</p>
        <img src="{% static 'images/Bike2.jpg' %}"><br>
        <p style="text-align: justify;">The 1885 Daimler Reitwagen made by Gottlieb Daimler and Wilhelm Maybach in Germany was the first internal combustion, petroleum-fueled motorcycle. In 1894, Hildebrand & Wolfmüller became the first series production motorcycle.
            In 2014, the three top motorcycle producers globally by volume were Honda (28%), Yamaha (17%) (both from Japan), and Hero MotoCorp (India).In developing countries, motorcycles are considered utilitarian due to lower prices and greater fuel economy. Of all the motorcycles in the world, 58% are in the Asia-Pacific and Southern and Eastern Asia regions, excluding car-centric Japan.
            According to the US Department of Transportation, the number of fatalities per vehicle mile traveled was 37 times higher for motorcycles than for cars.</p>
    </div>
</body>
</html>